*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../assets/images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body{
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}
section{
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    img{
        max-width: 75px;
    }
}
#main-content{
    height: 80%;
    width: 70%;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: rgba(56, 82, 168, 0.196);
}
button{
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid;
}
#btn_irASd{
    margin-bottom: 100px;
}
#btn_masInfo{
    /*Seguir todo*/
}